*{
    background-color: #fbf5e6;
    
}

li{
    list-style-type: none;
}

footer {
    background-color: #eda03b;
}

 

/* #Home ----------------------------------------------------------------*/

.lista1 li a {
    color: #f99292;
    text-decoration: none;
}

.logo{
    width: 100%;
    height: 400px;
    margin-top: 0%;
}

.lista1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.busqueda{
    margin-left: 80%;
    color: #f99292;
}

.titulo-recetas-padre{
    text-align: center;
    margin-bottom: 50px;
    color: #cb7c7c;
}
.recetas{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 46%;
    background-color: #f99292;
}

.recetas h3 {
    background-color: #f99292;
}

.recetas p {
    background-color: #f99292;
}

.recetas p a {
    text-decoration: none;
    background-color: #f99292;
    color: black;
}

.recetas img {
    width: 100%;
    border-radius: 8px;
}

.container-recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton-cargar{
    text-align: center;
    border: 1px solid #c76e6e;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Categorias -------------------------------------------------------------*/

.TituloCategorias {
    display: flex;
    justify-content: center;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.categorias-list {
    display: flex;
    justify-content: center;
}

.categorias-list li {
    border-radius: 15px;
    background-color: #f99292;
    padding: 20px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;


}

.categorias-item {
    background-color: #f99292; 
}

.categorias-item h2 {
    background-color: #f99292; 
}

.categorias-item a {
    background-color: #f39966; 
    border-radius: 10px;
    padding: 5%;
    text-decoration: none;
    color: black;
    padding-left: 0;
    padding-right: 0;
}

.categorias-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* Category ---------------------------------------------------------------*/


/* Login ------------------------------------------------------------------*/

.titulo-login{
    display: flex;
    justify-content: center; 
}
.Inicio {
    display: flex;
    justify-content: center;
    background-color: #f39966;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 250px;

}

.formulario{
        border: 10px solid #f39966;
        background-color: #e7a810;
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        width: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
}

.login-body div{
    background-color: #e7a810;
}

.login-body label{
    background-color: #e7a810;
}

.loginA {
    background-color: #e7a810;
}

/* Registro ---------------------------------------------------------------*/

.titulo-registro{
    display: flex;
    justify-content: center; 
}
.registrobody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    
}
.form-article{
    border: 20px solid #f39966;
    background-color: #eda03b;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 46%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-article div {
    background-color: #eda03b;
}

.form-article label {
    background-color: #eda03b;
}

.form-article a {
    background-color: #eda03b;
}

.form-article button {
    margin-top: 15px;
    background-color: #f99292;
}


/* Detalle ---------------------------------------------------------------*/

.recetaM {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 46%;
    background-color: #f99292;
}

.img1 {
    width: 100%;
    border-radius: 8px;
}

.recetaM h1 {
    background-color: #f99292;
}

.recetaM p {
    background-color: #f99292;
}

.detalle-main {
    display: flex;
    justify-content: center;
}
/*MediaQuerys------------------------------------------------------------------*/

@media(max-width: 425px){
    .busqueda {
        display: flex;
        margin-left: 20%;
        margin-top: 50px;

    }

    .logo {
        width: 100%;
        height: 30%;
    }
    .titulo-recetas-padre {
        display: flex;
        justify-content: center;
    }

    .recetas {
        width: 100%;
    }

    .recetaM {
        width: 100%;
    }

    .lista1 {
        padding: 0%;
        margin-top: 50px;
    }

    .containerRecetas {
        width: 93%;
    }

    .titulo-category {
        display: flex;
        justify-content: center;
    }

}